// font size
$regular: 14px;
$extraLarge: 20px;
$large: 18px;
$medium: 16px;
$small: 12px;
$extraSmall: 10px;

// different
$borderRadius: 2px;
$boxShadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16);
$boxShadowRedesign: 0px 4px 4px rgba(4, 2, 27, 0.2);
$transition: all 0.2s ease;

// checkmark
$borderWidth: 2px;
$height: 8px;
$width: 8px;
$borderColor: rgba(255, 255, 255, 0.6);
